  <!--replace everything in this file with the code below.-->

<div class="container">
    <div class="col-12">
  <app-navbar></app-navbar>
 
  <app-menu></app-menu>
  
  <br>
      <app-sidenav></app-sidenav>
    

 

  
  <h2><router-outlet></router-outlet> </h2>
    </div>
</div>