
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  <mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
  <mat-nav-list>

        <a mat-list-item routerLink="/person" (click)="showFiller = !showFiller" >
            <mat-icon>person</mat-icon> <span class="nav-caption">Pessoa</span>
        </a>

        <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a>

        <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
            <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>   
        </a>

        <a mat-list-item routerLink="#" (click)="onSidenavClose()">
            <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
        </a>
        
      </mat-nav-list>

      
  </mat-drawer>
 
  <p *ngIf="showFiller">sim.</p>
  <p>Hello World!!!</p>
</mat-drawer-container>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->