.example-container {
    width: auto;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    background-color:  rgba(236, 15, 34, 0.596);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: left;
    color:  rgba(40, 2, 255, 0.596)
  }
  
  .example-sidenav {
    padding: 20px;
    background-color:  rgba(176, 238, 5, 0.596);
  }  